.profile-dropdown {
    position: relative;
    height: 100%;
    background: #F6921E26;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 0px #FFFFFFBF inset;
    overflow: visible;
}

.profile-trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.profile-trigger img {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #B190B6;
    border: 1px solid #F6921E;
    border-radius: 8px;
    margin-right: 8px;
}

.profile-trigger span {
    color: #FFFFFF;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

.profile-trigger span.arrow {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.dropdown-menu {
    position: absolute;
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-width: 226px;
    min-height: 226px;
    right: 0;
    top: 110%;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    background: #0a0a0a9c;
    box-shadow: 0px 0px 1px 0px #FFFFFFBF inset;
    backdrop-filter: blur(100px);
    z-index: 10;
}

.cta_action_account {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.cta_action_account a {
    color: #FFFFFF;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    background: #F6921E26;
    box-shadow: 0px 0px 1px 0px #FFFFFFBF inset;
}

.cta_action_account a:hover {
    box-shadow: 0px 0px 10px 0px #F6921E4D inset;
}

.dropdown-menu.show-menu {
    display: flex;
}

.dropdown-menu a {
    color: #FFFFFF;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 20px;
}

.dropdown-menu a:hover {
    color: #F6921E;
}